<div id="nav-arrlist" class="container-grid sektion5 nav-arrlist">
  <h2 class="heading-2">Åldersgrupper<br></h2>
  <div class="container-grid undersektion-alder">
    <a title="Ålder 0–6 år" class="link-button btn aldersgrupper alder-0-6" (click)="gotoSection('alder-0-6')" >Ålder 0–6 år</a>
    <a title="Ålder 7–12 år" class="link-button btn aldersgrupper alder-7-12" (click)="gotoSection('alder-7-12')"  >Ålder 7–12 år</a>
    <a title="Ålder 13–18 år" class="link-button btn aldersgrupper alder-13-19" (click)="gotoSection('alder-13-19')"  >Ålder 13–18 år</a>
  </div>
</div>
