@import "~bootstrap/scss/bootstrap.scss";
@import "../src/assets/ad/css/main.css";
@import "../src/assets/ad/css/wireframe-theme.min.css";

div.responsive-picture.picture-1 {
  min-width: 100%;
  max-width: none;
  background-image: url('./assets/ad/placeholder_1500.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  /* background-repeat: repeat; */

  background-blend-mode: normal;
}
